<div class="sidebar-nav">
    <div class="navbar navbar-inverse" role="navigation">
        
        <!-- Brand and Toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://rancher.com/"><img src="{{site.baseurl}}/img/rancher-logo-nopadding.png"></a>
        </div>
        <div class="clearfix"></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="mainmenu">
                <li><a href="{{site.baseurl}}/rancher/">Overview</a></li>
                <li><a href="{{site.baseurl}}/rancher/quick-start-guide/">Quick Start Guide</a></li>
                <li class="panel">
                     <a href="#installing-rancher" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">Installing Rancher<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                     <ul class="collapse list-group-submenu" id="installing-rancher">
                        <li>
                            <a href="#installing-server" data-toggle="collapse" class="collapsed" data-parent="#installing-server">Installing Rancher server<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                              <ul class="collapse" id="installing-server">
                                 <li><a href="{{site.baseurl}}/rancher/installing-rancher/installing-server/">Single Node</a></li>
                                 <li><a href="{{site.baseurl}}/rancher/installing-rancher/installing-server/multi-nodes/">Multi Nodes</a></li>
                                 <li><a href="{{site.baseurl}}/rancher/installing-rancher/installing-server/basic-ssl-config/">Basic SSL Configuration</a></li>
                                  <li><a href="{{site.baseurl}}/rancher/installing-rancher/installing-server/no-internet-access/">No Internet Access</a></li>
                             </ul>
                        </li>
                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/infrastructure/hosts/">Adding Hosts</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a href="#concepts" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">Concepts<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                    <ul class="collapse list-group-submenu" id="concepts">
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#users">Users</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#environments">Environments</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#host">Hosts</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#networking">Networking</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#service-discovery">Service Discovery</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#load-balancer">Load Balancer</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#distributed-dns-service">Distributed DNS Service</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/health-checks/">Health Checks</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#service-ha">Service HA</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#service-upgrade">Service Upgrade</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#rancher-compose">Rancher Compose</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#stacks">Stacks</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/scheduling/">Scheduling</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#sidekicks">Sidekicks</a></li>
                        <li><a class="hash" href="{{site.baseurl}}/rancher/concepts/#metadata-services">Metadata Services</a></li>
                    </ul>
                 
                </li>
                <li class="panel">
                    <a href="#configuration" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">Configuration<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                    <!--OLD href="{{site.baseurl}}/rancher/configuration/"-->
                    <ul class="collapse list-group-submenu" id="configuration">
                        <li><a href="{{site.baseurl}}/rancher/configuration/access-control/">Access Control</a></li>
                        <li><a href="{{site.baseurl}}/rancher/configuration/settings/">Settings</a></li>
                        <li><a href="{{site.baseurl}}/rancher/configuration/accounts/">Accounts</a></li>
                        
                        <li><a href="{{site.baseurl}}/rancher/configuration/environments/">Environments</a></li>
                        <li><a href="{{site.baseurl}}/rancher/configuration/api-keys/">API Keys</a></li>
                        <li><a href="{{site.baseurl}}/rancher/configuration/registries/">Registries</a></li>
                        
                    </ul>
                </li>
                <li><a href="{{site.baseurl}}/rancher/native-docker/">Using Rancher through Native Docker CLI</a></li>
                
                <li class="panel">
                    <a href="#rancher-compose" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">Using Rancher through Rancher-Compose<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                    <ul class="collapse list-group-submenu" id="rancher-compose">
                        <li><a href="{{site.baseurl}}/rancher/rancher-compose/">Using Rancher Compose</a></li>
                        <li><a href="{{site.baseurl}}/rancher/rancher-compose/commands/">Commands and Options</a></li>
                        <li><a href="{{site.baseurl}}/rancher/rancher-compose/rancher-services/">Rancher Services</a></li>
                        <li><a href="{{site.baseurl}}/rancher/rancher-compose/scheduling/">Scheduling</a></li>
                        <li><a href="{{site.baseurl}}/rancher/rancher-compose/upgrading/">Upgrading Services</a></li>
                        <li><a href="{{site.baseurl}}/rancher/rancher-compose/environment-interpolation/">Environment Interpolation</a></li>
                        <li><a href="{{site.baseurl}}/rancher/rancher-compose/build/">Building with S3</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a href="#rancherui" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">Rancher UI<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                    <ul class="collapse list-group-submenu" id="rancherui">
                        <li>
                            <a href="#services" data-toggle="collapse" class="collapsed" data-parent="#applications">Applications<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                            <ul class="collapse list-group-submenu-submenu" id="services">
                                <li>
                                    <a href="#stacks" data-toggle="collapse" class="collapsed" data-parent="#stacks">Stacks<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                                    <ul class="collapse" id="stacks">
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/applications/stacks/adding-services/">Adding Services</a></li>
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/applications/stacks/adding-service-alias/">Adding Service Alias</a></li>
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/applications/stacks/adding-balancers/">Adding Load Balancers</a></li>
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/applications/stacks/adding-external-services/">Adding External Services</a></li>
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/applications/stacks/">Stack Options</a></li>
                                        
                                    </ul>
                                </li>
                                <li><a href="{{site.baseurl}}/rancher/rancher-ui/applications/catalog/">Catalog</a></li>
                            </ul>
                        </li>
                        <li>
                           <a href="#infrastructure" data-toggle="collapse" class="collapsed" data-parent="#infrastructure">Infrastructure<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                           <ul class="collapse list-group-submenu-submenu" id="infrastructure">
                                <li>
                                    <a href="#hosts" data-toggle="collapse" class="collapsed" data-parent="#hosts">Hosts <i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                                    <ul class="collapse list-group-submenu" id="hosts">
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/infrastructure/hosts/">Getting Started with Hosts</a></li>
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/infrastructure/hosts/amazon/">Amazon EC2</a></li>
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/infrastructure/hosts/digitalocean/">DigitalOcean</a></li>
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/infrastructure/hosts/exoscale/">Exoscale</a></li>
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/infrastructure/hosts/packet/">Packet</a></li>
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/infrastructure/hosts/rackspace/">Rackspace</a></li>
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/infrastructure/hosts/other/">Other Drivers</a></li>
                                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/infrastructure/hosts/custom/">Adding Custom Hosts</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{site.baseurl}}/rancher/rancher-ui/infrastructure/containers/">Containers</a></li>
                                 <li><a href="{{site.baseurl}}/rancher/rancher-ui/infrastructure/certificates/">Certificates</a></li>
                            </ul>
                        </li>
                        <li><a href="{{site.baseurl}}/rancher/rancher-ui/scheduling/">Scheduling</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a href="#rancherservice" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">Rancher Services<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                    <ul class="collapse list-group-submenu" id="rancherservice">
                        
                        <li><a href="{{site.baseurl}}/rancher/metadata-service/">Metadata Service</a></li>
                        <li><a href="{{site.baseurl}}/rancher/rancher-services/dns-service/">DNS Service</a></li>
                        <li><a href="{{site.baseurl}}/rancher/rancher-services/storage-service/">Storage Service</a></li>
                    </ul>
                </li>
                <li><a href="{{site.baseurl}}/rancher/labels/">Labels in Rancher</a></li>
                <li><a href="{{site.baseurl}}/rancher/upgrading/">Upgrading Rancher</a></li>
                <li><a href="{{site.baseurl}}/rancher/contributing/">Contributing to Rancher</a></li>
                <li class="panel">
                    <a href="#api" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">API<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                    <ul class="collapse list-group-submenu" id="api">
                        <li><a href="{{site.baseurl}}/rancher/api/">How to use the API</a></li>
                        <li><a href="{{site.baseurl}}/rancher/api/common/">Common Resource Fields</a></li>
                        <li><a href="{{site.baseurl}}/rancher/api/api-resources/">API Resources</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a href="#faqs" class="collapsed" data-toggle="collapse" data-parent="#mainmenu">FAQs<i class="pull-right fa fa-angle-down"></i><i class="pull-right fa fa-angle-up"></i></a>
                    <ul class="collapse list-group-submenu" id="faqs">
                        <li><a href="{{site.baseurl}}/rancher/faqs/">General</a></li>
                        <li><a href="{{site.baseurl}}/rancher/faqs/hosts/">Hosts</a></li>
                        <li><a href="{{site.baseurl}}/rancher/faqs/containers/">Containers</a></li>
                        <li><a href="{{site.baseurl}}/rancher/faqs/troubleshooting/">Troubleshooting</a></li>
                    </ul>
                </li>
            </ul><!-- /.navbar-nav -->
        </div><!-- /.navbar-collapse -->
        
        
    </div> <!-- /.navbar-inverse -->
</div> <!-- /.sidebar-nav -->